
body {
  height: 100vw;
  background: #000;
}

canvas {
  background-color: #fff;
}

.chart_options button {
  padding: 10px;
  cursor: pointer;
}

.chart_option .active_action {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}